<div class="customer-fluid">
  <h1 style="text-align: center; font-weight: bold; color: Red; padding: 10px">
    Subjects
  </h1>
  <br />

  <div class="d-grid gap-2 col-6 mx-auto">
    <a class="btn btn-warning" href="{% url 'financial_accounting' %}"
      >Financial Accounting</a
    >

    <a class="btn btn-warning" href="{% url 'auditing' %}">Auditing</a>
    <a class="btn btn-warning" href="{% url 'management_accounting' %}"
      >Management Accounting</a
    >

    <a class="btn btn-warning" href="{% url 'company_law' %}">Company Law</a>
    <a class="btn btn-warning" href="{% url 'service_marketing' %}"
      >Service Marketing</a
    >

    <a class="btn btn-warning" href="{% url 'retail_marketing' %}"
      >Retail Marketing</a
    >
  </div>
</div>
